.alert {
  position: fixed;
  background-color: var(--dark-color);
  border-radius: 10px;
  padding: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  &.pause {
    top: calc(100% - 130px);
    animation: pulse 1s infinite;
  }
  &.score-alert {
    translate: (-50%);
    font-size: 64px;
    top: calc(50% + 25px);
    animation: score 1s ease forwards;
    border: 1px solid var(--primary);
    transform-origin: center;
  }
  p {
    font-size: 22px;
  }
}
