.header {
  background: linear-gradient(180deg, var(--primary), var(--primary-dark));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 50px;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
