@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    left: 50%;
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: calc(100% - 60px);
  }
}

@keyframes moveUp {
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@keyframes movePaddle {
  0% {
    left: 20%;
  }
  20% {
    left: 10%;
  }
  100% {
    left: 50%;
  }
}
@keyframes materia {
  50% {
    top: 26px;
  }
  100% {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    top: 26px;
    background: linear-gradient(180deg, var(--primary), var(--primary-dark));
  }
}

@keyframes puff {
  to {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
    background: var(--dark-color);
  }
}

@keyframes borderRadius {
  to {
    border-radius: 0px;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

// Alert
@keyframes pulse {
  0% {
    box-shadow: 0 1px 5px 0 var(--primary);
  }
  50% {
    box-shadow: 0px 1px 14px 0px var(--primary);
  }
  100% {
    box-shadow: 0 1px 5px 0 var(--primary);
  }
}

@keyframes score {
  0% {
    transform: scale(0.2) translateY(-50%);
  }
  70% {
    transform: scale(1.2) translateY(-50%);
  }
  100% {
    transform: scale(1) translateY(-50%);
  }
}
