:root {
  --light-color: #f1f0d8;
  --dark-color: #242424;

  color: var(--light-color);
  background-color: var(--dark-color);
}
body {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}
