.dashboard {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  overflow: hidden;
  .dashboard-ball {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-color);
    opacity: 0;
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
      moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
      moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
      materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, 2s 2.9s ease forwards;
  }
  .splash {
    position: fixed;
    top: calc(100% - 30px);
    left: 20%;
    height: 30px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: var(--light-color);
    border-radius: 200px;
    animation: movePaddle 1.8s linear forwards,
      puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
      borderRadius 0.2s 2.3s linear forwards;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    opacity: 0;
    z-index: 2;
    animation: show 2s 3.1s ease forwards;
    .button-container {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  h1 {
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191,
      1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}
