.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .board {
    padding: 0px 10px;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    .devider {
      position: absolute;
      background-color: var(--light-color);
      height: 100%;
      width: 2px;
    }
    .center {
      top: 50%;
      translate: (0 -50%);
      position: absolute;
      height: 200px;
      width: 200px;
      border: 2px solid var(--light-color);
      border-radius: 50%;
    }
  }
}
