.settings {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 500px;
  .other {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    .counter {
      background-color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      font-size: 18px;
      font-weight: bold;
      margin-left: 4px;
    }
    input[type='range'] {
      width: 350px;
    }
  }
}
